<div class='container mx-auto my-5'>
  <h1 class="font-bold text-4xl mx-auto w-fit">Welcome</h1>
  <form class="max-w-md mx-auto">
    <label for="group-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative">
      <input list="group-names" id="group-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Group Name" required />
      <datalist id="group-names">
        <!-- Replace these options with your actual group names -->
        <option value="Koch">Koch</option>
        <option value="Infor">Infor</option>
        <option value="Georgia Pacific">Georgia Pacific</option>
        <option value="Guardian">Guardian</option>
        <option value="Molex">Molex</option>
        <option value="Sharecare">Sharecare</option>
        <!-- More options... -->
      </datalist>
      <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>
  </form>
</div>
