<%= form_with(model: [conversation, message], id: "#{dom_id(message)}_form") do |form| %>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.text_field :content %>
    <%= form.submit "Send" %>
  </div>
<% end %>
